@use "../abstracts/abstracts.module.scss" as abstracts;

.main {
  position: sticky;
  height: calc(100vh - abstracts.$header-height);
  width: 70px;
  background-color: abstracts.$sidebar-color;
  top: abstracts.$header-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 40px;
  margin-bottom: calc(abstracts.$header-height - 100vh);

}