@use "./mixins.module.scss" as mixins;
@use "./palette.module.scss" as palette;

@mixin baseInputStyles {
  width: 100%;
  height: 25px;
  outline: none;
  background: #FCFDFE;
  border: 2px solid #D8D8D8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  height: 45px;
  margin-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #4A4A4A;
}

.main {
  @include palette.myFont(400);
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}


.title {
  display: flex;
  justify-content: center;
  @include palette.myFont(700);
  font-style: normal;
  font-size: 56px;
  line-height: 68px;
  text-align: center;
  color: #2C2738;
  margin: 0;
  margin-bottom: 10px;
}

.spacer {
  opacity: 0.5;
  background: #D9D9D9;
  width: 100%;
}

.signInButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% 0 10% 0;
  gap: 10px;
}


.google-btn {
  all: unset;
  @include mixins.signInButtonStyle;
  @include palette.myFont(400);
}

.facebook-btn {
  all: unset;
  @include mixins.signInButtonStyle;
  @include palette.myFont(400);
  background: #4267B2;
  color: white;
}

.inputs {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 10px;
}

.label {
  @include palette.myFont(600);
  color: #4A4A4A;
  width: 100%;
  font-size: 18px;
}


.email {
  @include baseInputStyles();
}

.password-div {
  display: flex;
  @include baseInputStyles();
  cursor: text;
}

.pwd {
  all: unset;
  width: 100%;
  cursor: text;
}

.pwd-label {
  width: 100%;
}

.show-button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;

}

.button-image {
  width: 23px;
}

.misc {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.remember-me {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.checkbox {
  background: palette.$accent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  height: 25px;
  width: 25px;
}

.forgot-password {
  all: unset;
  cursor: pointer;
  color: palette.$accent;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.btn {

  all: unset;
  background: palette.$accent;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-weight: 600;
  height: 50px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 40px;
}

.register-div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.question-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.register-btn {

  all: unset;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: palette.$accent;
}