@use "../abstracts/abstracts.module.scss" as abstracts;

.main {
  @include abstracts.centeringStyle(column);
  width: 90%;
}

.bottom {
  @include abstracts.centeringStyle(row);
  width: 100%;

  &__left {
    flex: 2 2;
    outline: 2px solid black;
    height: 2800px;
    margin-bottom: 100px;
  }

  &__middle {
    flex: 5 5;
    outline: 2px solid palegreen;
    height: 2800px;
    margin-bottom: 100px;
  }

  &__right {
    flex: 2 2;
    outline: 2px solid salmon;
    height: 2800px;
    margin-bottom: 100px;
  }
}