@use "../abstracts/abstracts.module.scss" as abstracts;

.main {
  @include abstracts.centeringStyle(column);
  @include abstracts.myFont(400);
  background-color: white;
  border-radius: 4px;
  margin: 10px;
  padding: 0 8% 4% 8%;

  &__title {
    @include abstracts.myFont(500);
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  &__line {
    opacity: 0.3;
    width: 100%;
    background-color: gray;
    margin: 0 0 5% 0;
  }

  &__content {
    @include abstracts.centeringStyle(column);
    width: 100%;
    gap: 20px;
  }
}

.profile-section {

  display: flex;
  flex-direction: column;
  gap: 10px;

  &__top {
    @include abstracts.myFont(400);
    font-size: 14px;
  }

  &__bottom {
    @include abstracts.myFont(400);
    color: gray;
    font-size: 12px;
  }
}

.other-networks-title {
  @include abstracts.myFont(400);
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  margin: 10% 0 5% 0;
}

.networks {
  @include abstracts.centeringStyle();
  width: 70%;

  &__btn {
    @include abstracts.resetButton($background-color: white, $border-radius: 5px);
    @include abstracts.centeringStyle();
    flex: 1 1;
    height: 40px;

    &__img {
      box-sizing: border-box;
      height: 100%;
      padding: 5px;
    }
  }
}