@use "../abstracts/abstracts.module.scss" as abstracts;

.main {
  @include abstracts.routeBaseStyle();
  height: auto;
}

.bottom {
  display: flex;
  height: auto;
}

.body {
  flex: 21 21;
  padding: 20px 15px 0 15px;
  background-color: abstracts.$body-background-color;
}