@use "../abstracts/abstracts.module.scss" as abstracts;


.main {

  @include abstracts.routeBaseStyle;
  display: flex;
  position: static;
}


.body {
  flex: 21 21;
  padding: 20px 15px 0 15px;
  background-color: abstracts.$body-background-color;
}