@use "../abstracts/abstracts.module.scss" as abstracts;

.main {
  @include abstracts.routeBaseStyle();
  height: auto;
}

.bottom {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: space-between;
}

.body {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0 0 0;
  background-color: abstracts.$body-background-color;
}