@use "../abstracts/abstracts.module.scss" as abstracts;

.main {
  @include abstracts.centeringStyle(column);
  width: 100%;

  &__line {
    opacity: 0.2;
    width: 120%;
    background-color: rgb(128, 128, 128);
    margin: 0 0 5% 0;
  }

  &__title {
    @include abstracts.myFont(500);
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }
}