@use "../abstracts/abstracts.module.scss" as abstracts;

@mixin headerButtonImgStyles {
  height: 100%;
  opacity: 0.5;
  filter: invert(1);
  user-select: none;
}

@mixin headerButtonStyles($height) {
  @include abstracts.resetButton($background-color: transparent);
  @include abstracts.centeringStyle();
  height: $height;
}

.main {
  @include abstracts.myFont(400);
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: abstracts.$header-height;
  background-color: abstracts.$header-dark-color;
  font-size: 20px;
  z-index: 1;
}

.logo-div {
  @include abstracts.centeringStyle();
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  flex: 1.2 1.2;
}

.logo-img {
  height: 100%;
}

.page-name-div {
  @include abstracts.centeringStyle();
  flex: 3 3;
  color: white;
}

.search-div {
  @include abstracts.centeringStyle();
  flex: 8 8;
  background-color: abstracts.$header-light-color;
}

.search-input {
  all: unset;
  flex: 9 9;
  height: 100%;
  color: rgb(255, 255, 255);

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
    filter: invert(1);
    cursor: pointer;
  }

  &:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
  }
}

.search-button {
  @include abstracts.resetButton($background-color: transparent);
  @include abstracts.centeringStyle();
  flex: 1 1;
  width: 100%;
  height: 100%;
}

.search-image {
  width: 60%;
  height: 60%;
  opacity: 0.5;
}

.find-friends-div {
  flex: 2.5 2.5;
}

.find-friends-button {
  @include abstracts.resetButton($background-color: transparent);
  @include abstracts.centeringStyle();
  height: 100%;
  width: 100%;
  font: inherit;
  color: white;
}

.right-div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 7 7;
}

.notifications-btn {
  @include headerButtonStyles(80%);
}

.messages-btn {
  @include headerButtonStyles(75%);

}

.profile-btn {
  @include headerButtonStyles(70%);
  margin-left: 5px;
}

.notifications-img,
.messages-img,
.profile-img {
  @include headerButtonImgStyles;
}