@use "../abstracts/abstracts.module.scss" as abstracts;

.main {
  position: sticky;
  left: 0;
  top: abstracts.$header-height;
  height: calc(100vh - abstracts.$header-height);
  flex: 1 1;
  background-color: abstracts.$sidebar-color;
}