@use "../abstracts/abstracts.module.scss" as abstracts;

.main {

  @include abstracts.routeBaseStyle();
  display: flex;
  height: 100%;

  &__left {

    width: 50%;
  }

  &__right {

    width: 50%;
    @include abstracts.centeringStyle();

  }
}