@use "../abstracts/abstracts.module.scss" as abstracts;

.main {

  @include abstracts.myFont(400);
  @include abstracts.routeBaseStyle;
  @include abstracts.centeringStyle();
  background-color: rgba(0, 0, 0, 0.425);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  z-index: 1;
}

.container {

  @include abstracts.centeringStyle(column);
  position: absolute;
  width: 600px;
  height: 700px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  z-index: 2;
  user-select: none;
}

.top {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  text-align: center;
  color: #2C2738;
  margin-bottom: 40px;
}

.info {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2C2738;
  margin-bottom: 15px;
}

.spacer {
  opacity: 0.5;
  background: #D9D9D9;
  width: 85%;
  margin-bottom: 50px;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.label {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #2C2738;
}

.input {
  all: unset;
  background: #FCFDFE;
  border: 2px solid #D8D8D8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  height: 45px;
  width: 100%;
  margin: 5px 0px 30px 0px;
  background: #FCFDFE;
  border: 2px solid #D8D8D8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  cursor: auto;
  font-size: 20px;
  font-weight: 400;
  padding-left: 5px;
}

.btn {
  all: unset;
  background: abstracts.$accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width: 80%;
  height: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}